<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Useful.DataServices.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Useful.DataServices.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </sectionGroup>
    </configSections>

  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <!--   add key="serviceInstaller1.DisplayName" value="Useful Data Service" / -->
    <!--   add key="serviceInstaller1.ServiceName" value="Useful Data Service" / -->
    <add key="DSDatabase" value="Integrated Security=SSPI;database=dataservices;server=zeus;"/>
    <add key="DSConfigPath" value="C:\Documents and Settings\Andy\My Documents\Programming\Useful\Useful.DataServices\Config\DataServices.xml"/>
    <add key="ConfigPath" value="C:\Documents and Settings\Andy\My Documents\Programming\Useful\Useful.DataServices\Config\Useful.Config.xml"/>
  </appSettings>
  <userSettings>
    <Useful.DataServices.Console.Properties.Settings/>
  </userSettings>
  <applicationSettings>
    <Useful.DataServices.Console.Properties.Settings>
      <setting name="Useful_DataServices_Console_DataService_Useful_x0020_Data_x0020_Services_x0020_Web_x0020_Service" serializeAs="String">
        <value>http://zeus/UsefulWeb/DataService.asmx</value>
      </setting>
    </Useful.DataServices.Console.Properties.Settings>
  </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Useful.Services.Clients" publicKeyToken="D395C054EA0E8727" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.37526" newVersion="1.0.0.37526"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
