<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Useful.DataServices.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Useful.DataServices.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <!--   add key="serviceInstaller1.DisplayName" value="Useful Data Service" / -->
    <!--   add key="serviceInstaller1.ServiceName" value="Useful Data Service" / -->
    <add key="DSDatabase" value="Integrated Security=SSPI;database=dataservices;server=zeus;" />
    <add key="ConfigPath" value="D:\Documents and Settings\Andy\My Documents\Programming\Useful\DataServices.xml" />
  </appSettings>
  <userSettings>
    <Useful.DataServices.Console.Properties.Settings />
  </userSettings>
  <applicationSettings>
    <Useful.DataServices.Console.Properties.Settings>
      <setting name="Useful_DataServices_Console_DataService_Useful_x0020_Data_x0020_Services_x0020_Web_x0020_Service"
        serializeAs="String">
        <value>http://localhost/UsefulWeb/DataService.asmx</value>
      </setting>
    </Useful.DataServices.Console.Properties.Settings>
  </applicationSettings>
</configuration>